body, html {
    margin: 0;
    
}

html {
    height: 100%;
}

body {
    height: 100%;
    position: relative;
    font-family: sans-serif;
    background-color: #ddd;
}

.pane {
    padding: 8px;
    max-width: 600px;
    margin: 16px auto;
    height: calc(100% - 160px);
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.8);
    overflow: auto;
}

h1, p {
    text-align: center;
    padding: 8px;
}

.commands {
    text-align: left;
    opacity: 0.75;
    font-size: 12px;
}

div {
    background-color: rgba(255, 255, 255, 0.2);
}

ul {
    margin: 0;
}

#inkLevels {
    margin-bottom: 8px;
}

#inkLevels .name {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
    padding: 4px;
    text-transform: capitalize;
}

#prestige {
    margin-bottom: 8px;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#speech-bubble {
    padding: 8px;
    max-width: 600px;
    border-radius: 24px;
    box-shadow: 0 0 4px #888;
    background: white;
    margin: 4px auto;
    min-height: 36px;
    text-align: center;
    box-sizing: border-box;
    background-image: linear-gradient(60deg, #39d039, #ff8d00);
    color: white;
}

#inkLevels .name {
    display: inline-block;
    width: 50px;
}

#inkLevels .level {
    display: inline-block;
    width: 150px;
}

#testing {
    display: none;
}

#title-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background: white;
    flex-direction: column;
}

#start, #continue {
    width: 200px;
    height: 50px;
    border: 0;
    background: #ddd;
    margin: 8px;
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.25s ease;
}

#start:hover, #continue:hover{
    opacity: 1;
}

#continue {
    background: #ded;
}

.title {
    font-size: 36px;
    height: 30vh;
    display: flex;
    align-items: center;
}

.note {
    position: fixed;
    bottom: 0;
    font-size: 12px;
    padding: 16px 0;
    opacity: 0.8;
}

.warn {
    padding: 4px 8px;
    margin: 4px;
    border: solid 1px rgb(145, 115, 60);
    background:  rgb(236, 236, 167);
    border-radius: 4px;
    font-size: 14px;
}

.discord {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 16px 16px;
    z-index: 1;
    font-size: 12px;
    color: rgb(34, 34, 53);
}